body {
	background-color: #7A9ABA;
	text-align: center;
	font-family: Bebas Neue;
	font-size: 100%;
}

#header {
    background-color: #DBB84D;
    text-align:center;
    padding: 3%;
    letter-spacing: 15px;
}

#image {

	background-color: #7A9ABA;
	border-top: 20px solid #FEFEF2;
	border-bottom: 20px solid #FEFEF2;
}

.bio {
	max-width: 70%;
	margin-left: 15%;
	font-size: 200%;
}

h1 {
	color: #FEFEF2;
}

h2 {
	color:#FEFEF2;
	font-size: 170%;
}

h3 {
	color: #FEFEF2;
	font-size: 175%;
	letter-spacing: 2px;
}

h5 {
	font-size: 120%;
	color:#DBB84D;
	letter-spacing: 2px;
}

a {
	color: #FDFDF0;
	text-decoration: none;
	letter-spacing: 2%;
	padding: 2%;
	font-size: 100%;
}

p {
	color: #383839;
	letter-spacing: 1px;
}

scant {
	color: #FDFDF0;
}

ul { 
	padding-left: 0;
	font-size: 100%;
	letter-spacing: 1px;
	color: #383839;
}

ul li {
	list-style-position: inside;
}

img {
	max-width: 30%;
	height: auto;
	padding: 2%;	
}

